<template>
  <div id="app">
    <h3>Categories</h3>
    <ul class="categories" v-if="categories">
      <li v-for="item in categories" :key="item.category_id">
        <div :style="{ 'background-image': 'url(' +toBase(item.image) + ')' }">
          <span>{{item.name}} @ {{item.category_id}}</span>
        </div>
      </li>
    </ul>
  </div>
</template>


<script>
export default {
  computed: {
    categories() {
      const array = this.$store.getters.categories;
      return this.$root.sortByKey(array, "name");
    }
  },
  created() {
    this.$store.dispatch("getCategories");
  },
  methods: {
    toBase(data) {
      let type = "";
      if (data.charAt(0) == "/") {
        type = "image/jpeg";
      } else if (data.charAt(0) == "R") {
        type = "image/gif";
      } else if (data.charAt(0) == "i") {
        type = "image/png";
      }
      return "data:image/" + type + ";base64," + data;
    }
  }
};
</script>

<style lang="scss">
.categories {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  li {
    display: flex;
    border: 1px solid red;
    flex-basis: 33%;
    width: 33%;
    min-height: 100px;
    min-width: 220px;
    margin-bottom: 3px;
    div {
      display: flex;
      flex-basis: 100%;
      align-items: center;
      justify-content: center;
      span {
        display: inline-block;
        background: #fff;
        padding: 15px;
        font-size: 20px;
        color: #2c3e50;
      }
    }
  }
}
#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}
#nav {
  padding: 30px;
  a {
    font-weight: bold;
    color: #2c3e50;
    &.router-link-exact-active {
      color: #42b983;
    }
  }
}
</style>